*.log
JavaScripts/Start.bat
Pictures/Game_Thumbnail.jpg
DBCache/
JavaScriptsTsBuilder.log
README.md
*.lock
JavaScripts/*.js
JavaScripts/*.js.map
dist/game.js
dist/game.js.map
game.js.map
build.ts
tsconfig.json
package-lock.json
tools/
tool/UIExport.exe
.vscode
